/***** font hébergées par ✿Althea *****/
@font-face {
    font-family: 'hobbiton_brushhahobbitonbrush';
    src: url('https://queenofwandsunivers.github.io/nihit/font/hobbitonbrushhand-webfont.svg') format('svg'),
         url('https://queenofwandsunivers.github.io/nihit/font/hobbitonbrushhand-webfont.woff2') format('woff2'),
         url('https://queenofwandsunivers.github.io/nihit/font/hobbitonbrushhand-webfont.woff') format('woff'),
         url('https://queenofwandsunivers.github.io/nihit/font/hobbitonbrushhand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('https://queenofwandsunivers.github.io/nihit/font/kaushanscript-regular-webfont.svg') format('svg'),
         url('https://queenofwandsunivers.github.io/nihit/font/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('https://queenofwandsunivers.github.io/nihit/font/kaushanscript-regular-webfont.woff') format('woff'),
         url('https://queenofwandsunivers.github.io/nihit/font/kaushanscript-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('https://queenofwandsunivers.github.io/nihit/font/raleway-regular-webfont.svg') format('svg'),
         url('https://queenofwandsunivers.github.io/nihit/font/raleway-regular-webfont.woff2') format('woff2'),
         url('https://queenofwandsunivers.github.io/nihit/font/raleway-regular-webfont.woff') format('woff'),
         url('https://queenofwandsunivers.github.io/nihit/font/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('https://queenofwandsunivers.github.io/nihit/font/roboto-regular-webfont.svg') format('svg'),
         url('https://queenofwandsunivers.github.io/nihit/font/roboto-regular-webfont.woff2') format('woff2'),
         url('https://queenofwandsunivers.github.io/nihit/font/roboto-regular-webfont.woff') format('woff'),
         url('https://queenofwandsunivers.github.io/nihit/font/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/***** Variable crée par ✿Althea *****/
:root {
    --font-basic:'robotoregular';
    --font-title:'kaushan_scriptregular';
    --font-forum:'hobbiton_brushhahobbitonbrush';
    --font-subforum:'ralewayregular';
    --avatar-default:url('https://www.turbopix.fr/images/2022/04/23/Avatarnon-poster.jpg');
    --scenario-inactif:url('https://i.imgur.com/tEbNWxT.png');
    --scenario-actif:url('https://i.imgur.com/YL9anaU.png');
    --size-basic: 16px;
    --color-g1:#b43727;
    --color-g2:#7b562e;
    --color-g3:#00749E;
    --color-g4:#c5e39e;
    --color-g5:#ab8cbd;
    --color-text: #ffffff;
    --color-texthover:  #ddac92; /*couleur du texte au passage de la souris*/
    --color-linkhover:#7a514e; /*couleur lien au survol*/
    --color-linkvisited:#7a514e; /*couleur lien visité*/
    --color-bglight:#ffffff;/*bordure ou fond blanc*/
    --color-bgdark:#0f111d;/*bordure et fond "noir"*/
    --color--bgbody:#57474f;/*fond à l'extérieux du cadre du forum*/
    --color-bg-title: #7a514e; /*fond des titres*/
    --color-bg-cattitle: #351919;/*fond titre de catégorie*/
    --color-bglighterblock: #cfbcc6;/*fond des catégorie*/
    --color-bgdarkerblock: #bdacb5;/*fond description nombre topic reponse sous forum et dernière reponse*/
    /***** FIN Variable crée par ✿Althea *****/
    /* VARIABLE multi compte à qui de droit */
    --color-bgmc: transparent;
    --color-delete: #e74c3c;
    --color-tooltip: #351919 !important; /*Fond des bulle texte*/
    --color-squircle: #351919!important; /*Rond pour ajouter un compte*/
    --color-accent: #000000; /*Bouton connexion*/
    --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
    --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}
/* VARIABLE FIN */

/***** FICHES *****/
/***************************** GENERAL *******************************/
.fond_fiche23{
    margin: auto;
    width: 560px;
    background-color: var(--color-bgdarkerblock);
    padding-top: 16px;
    padding-bottom: 23px;
} 
.img_fiche23{
    width:80%;
    height: 250px;
    margin: auto;
    background-size: cover !important;
}
.barre_fiche23{
    width: 560px;
    height: 43px;
    background-image: url(""); 
    background-color: var(--color-bg-cattitle);
    margin:0;
    vertical-align:middle;
    line-height: 43px;
}
.barre_fiche23,.copyright_fiche23{
    text-align: center;
}
.titreh1_fiche23, .nom_fiche23{
    font-family: var(--font-title);
    font-size: 2rem;
    text-align: center;
    text-transform:none; 
    text-decoration: none;
    color: var(--color-text);
}
.citation_fiche23{
    margin-left:10%;
    text-align: left;
    font-size: 0.688rem;
    text-transform: uppercase;
    color:var(--color-text)
}
.bloc_fiche23 {
    width: 80%; 
    margin: auto;
    background-color: var(--color-bgdarkerblock);
    border-radius: 0 0 10% 5%;
    overflow:auto;
    margin-bottom:8px;
}
.texte_fiche23 {
    font-family:var(--font-basic);
    font-size: 0.75rem; 
    background-color: var(--color-bglighterblock);
    color: var(--color-text);
    text-align: justify;
    overflow: auto;
    padding: 8px 70px 8px 32px;
    display: block; 
    position: relative;
}
.copyright_fiche23{
   font-size: 10px; 
   color: var(--color-text); 
}
/***** FICHE RESEAU ******/
.dessusrp_fiche23{
    width: 480px; 
    height: 110px;
    margin:auto;
    margin-bottom:10px;
    background-color:transparent;
    text-align: -webkit-center;
}
.titreh2_fiche23{
    margin-left: 56px;
    font-size: 1.25rem;
    font-family: var(--font-title);
    color: var(--color-text) !important;
    text-align: center;
    padding-top:11px;
}
.dessus_fiche23{
    width: 80%; 
    height: 340px;
    margin-bottom:10px;
    background-color:transparent;
}
.avatar_fiche23{
    width: 196px;
    height: 314px;
    background-color: var(--color-bglight);
    background-image: url ('https://www.turbopix.fr/images/2022/04/23/Avatarnon-poster.jpg');
    background-position:center;
    background-size:cover;
    border: 2px solid var(--color-bglight);
}
.idrapide_fiche23{
    font-size:11px;
    width: 230px; 
    height: 300px;
    overflow:auto;
    padding:8px;
    text-align: justify;
    background-color: var(--color-bglighterblock);
    border: 1px solid var(--color-bglight);
}
pair {
    text-align: center;
    font-family:var(--font-basic);
    font-size: 0.75rem;
    text-transform: uppercase;
    color:var(--color-bg-title); 
    font-weight:bold;
}
impair {
    text-align: center;
    font-family:var(--font-basic);
    font-size: 0.75rem;
    text-transform: uppercase;
    color:var(--color-bg-cattitle);  
    font-weight:bold;
}
soustexte{
    font-size: 10px !important;
    text-transform: none;
}
.annonce_fiche23{
    font-size:11px;
    width: 80%; 
    height:106px;
    margin: auto;
    margin-bottom:8px;
    border: 2px solid var(--color-bglight);
    overflow:auto;

}
/***** FICHE RP *****/
.rp_fiche23{
    width: 80%; 
    margin: auto;
    overflow:auto;
    padding:8px;
    background-color: var(--color-bglighterblock);
    border-radius: 0 0 30% 10%;
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
    color:var(--color-text); 
}
        
a.rpec{
    color:var(--color-bg-title); 
}
a.rpf{
    color:var(--color-bg-cattitle);
}
a.rpaf{
    color:var(--color-text);
}
featuring{
    font-size: 10px;
    text-transform: none;
    color:var(--color-text);
}
/***** FICHE LIEN *****/
.fond2_fiche23 {
    width:80%; 
    margin: auto;
    background-color: var(--color-bglighterblock);
} 
.bloc_lien_fiche23{
    height: 140px;
    width:90%;
    margin-bottom:30px;
    margin:auto;
    padding:5px;
}

adjectif{
   font-size: 10px;
   color:var(--color-text);
   font-family:var(--font-basic);
   text-transform: uppercase;
   font-weight:bold;
}
icone1{
    float:left;
    height:100px; 
    width:100px; 
    border-radius:100%;
    border: 2px solid var(--color-bglight);
    vertical-align: top; 
    margin:1px
} 
icone2{
    float:right;
    height:100px; 
    width:100px; 
    border-radius:100%;
    border: 2px solid var(--color-bglight);
    vertical-align: top; 
    margin:1px
} 
.lien2_fiche23{
    margin-right:20%;
    width: 65%; 
    height: 83px;
    padding:8px;
    font-size:11px;
    text-align: justify;
    border: 1px solid var(--color-bglight);
    overflow:auto;
}
/***** scénario *****/
.recherche_fiche23 {
        font-size:0.75rem;
        width: 80%; 
        overflow:auto;
        margin:auto;
        margin-top:8px;
        border: 1px solid var(--color-bglight);
}
/***** Fiche de présentation *****/
.titre2_fiche23{
    font-size: 1.25rem;
    font-family: var(--font-title);
    color: var(--color-text) !important;
    text-align: center;
    padding-top:11px;
}
.blockduo_fiche23{
    width: 80%; 
    height: 180px;
    margin:auto;
}
.caracter_fiche23{
    width: 40%; 
    height: 176px;
    padding:8px;
    background-color: var(--color-bglighterblock);
    border-radius: 0 0 0 10%;
    font-size:0.75rem;
    text-align: justify;
    overflow:auto;
    
}
.physique_fiche23{
    width: 40%; 
    height: 176px;
    padding:8px;
    background-color: var(--color-bglighterblock);
    border-radius: 0 0 30% 0;
    font-size:0.75rem;
    text-align: justify;
    overflow:auto;
}

/***** fiche groupe trombi *****/

.container__flexfiche{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0 auto;
    padding-bottom: 5px;
    background-color: var(--color-bgdarkerblock);
}
.demiebarre_fiche23{
    width: 50%;
    height: 43px;
    margin: 0;
    padding-bottom: 8px;
    vertical-align: middle;
    line-height: 43px;
    text-align: center;
}
.titregrp_fiche23{
    font-family: var(--font-forum);
    font-size: 2rem;
    text-align: center;
    text-transform: none;
    text-decoration: none;
}
.glyphe_group{
    font-size: 3rem;
}
.g1{
    color: var(--color-g1);
}
.g2{
    color: var(--color-g2);
}
.g3{
    color: var(--color-g3);
}
.g4{
    color: var(--color-g4);
}
.g5{
    color: var(--color-g5);
}
.g1_b{
    border: solid 2px var(--color-g1);
}
.g2_b{
    border: solid 2px var(--color-g2);
}
.g3_b{
    border: solid 2px var(--color-g3);
}
.g4_b{
    border: solid 2px var(--color-g4);
}
.g5_b{
    border: solid 2px var(--color-g5);
}
.personnage__blocs{
    width: 44%;
    margin:auto;
    padding: 8px;
    border-radius: 0 0 20% 10%;
    color: var(--color-text);
    font-size: 11px;
    text-align: justify;
    overflow: auto;
}
.personnage__contenu {
    margin:auto;
    width: 230px;
    height:200px;
    overflow: auto;
    background-color: var(--color-bglighterblock);
    padding: 8px;
    font-size: 11px;
    text-align: justify;
    color: var(--color-text);
}
.personnage__img{
    width:99%;
    height:140px;
    margin:auto;
}
/***** générale reprise *****/
.profile_field_3_-23,#field_id-17, #field_id-18, #field_id-19{display:none;}

.messageheader_nihit{
    margin: auto;
    text-align: center;
}
.messageheader_nihit i{
    margin: 0 5px;
    font-size: 4.4rem;
}

neutre{
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight:bold;
}
.break{
    margin:32px 0;
    border-top: 5px solid var(--color-bg-title);
}

.glyphe_partenaire{
    color: var(--color-bg-title);
    font-size: 2.3rem;
}
.glyphe_basic{
    font-size: 1.438rem;
}

.sceditor-mention-user {
color:#000;
}

select.gensmall{
color:#000;
}
/***** FIN CODAGE ✿Althea *****/

.bloc_lien_fiche23 {
    height: 140px;
    width: 97%;
    margin-bottom: 30px;
    margin: auto;
    padding: 5px;
}
.bloc_lienscenario_fiche23 {
    height: 160px;
    width: 79%;
    margin-bottom: 30px;
    margin: auto;
    padding: 5px;
}
icone{
    width: 23%;
    height: 70%;
    margin-top: 30px;
    margin-right: 2%;
    border-radius: 100%;
    border: 2px solid var(--color-bglight);
    vertical-align: top;
}

.description_lien_fiche23 {
    width:65%;
}
.pseudonyme1_fiche23, .pseudonyme2_fiche23, .titreh2rp_fiche23{
    font-size: 1.25rem;
    font-family: var(--font-title);
    color: var(--color-text)!important;
    text-align: left;
    margin-top:11px;
}
.lien_fiche23 {
    width: 90%;
    height: 83px;
    padding: 8px;
    border: 1px solid var(--color-bglight);
    font-size: 11px;
    text-align: justify;
    overflow: auto;
}
.dessous_fiche23, .dessusrp_fiche23{
    width: 480px; 
    height: 140px;
    margin:auto;
    margin-bottom:10px;
    padding: 5px;
    background-color:transparent;
    text-align: -webkit-center;
}
.irl_fiche23, .rpw_fiche23 {
    font-size: 11px;
    width: 300px;
    height: 83px;
    overflow: auto;
    padding: 8px;
    text-align: justify;
    border: 1px solid var(--color-bglight);
}
